version: "2"
  
services:
  salespro:
    container_name: salespro
    image: wavepoint/salespro:1.2.7-pre
    env_file:
      - ./config.env
    volumes:
      - plugins:/app/plugins
      - frontend:/app/wwwroot
    restart: unless-stopped

volumes:
  plugins:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/salespro/salespro.deploy/plugins
  frontend:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/salespro/salespro.deploy/frontend

networks:
  default:
    name: salespro-network
    external: true
